legacy/iluvatar-2.0/n8n-workflows/05-support-agents.json
{
  "name": "ILUVATAR 2.0 - Support & Situational Agents",
  "active": true,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "situational/patience",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "treebeard-webhook",
      "name": "Treebeard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        100
      ],
      "webhookId": "situational-patience"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "situational/leadership",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "aragorn-webhook",
      "name": "Aragorn Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        400
      ],
      "webhookId": "situational-leadership"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "situational/unconventional",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "eowyn-webhook",
      "name": "Eowyn Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        700
      ],
      "webhookId": "situational-unconventional"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/edge-cases",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "gollum-webhook",
      "name": "Gollum Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        1000
      ],
      "webhookId": "support-edge-cases"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/serendipity",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "pippin-webhook",
      "name": "Pippin Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        1300
      ],
      "webhookId": "support-serendipity"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/help-clone",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "merry-webhook",
      "name": "Merry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        1600
      ],
      "webhookId": "support-help-clone"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/prefetch",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "quickbeam-webhook",
      "name": "Quickbeam Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        1900
      ],
      "webhookId": "support-prefetch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/user-prefs",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "bilbo-webhook",
      "name": "Bilbo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        2200
      ],
      "webhookId": "support-user-prefs"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/test-plan",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "arwen-webhook",
      "name": "Arwen Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        2500
      ],
      "webhookId": "support-test-plan"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/write-tests",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "thorin-webhook",
      "name": "Thorin Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        2800
      ],
      "webhookId": "support-write-tests"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/deploy",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "eomer-webhook",
      "name": "Eomer Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        3100
      ],
      "webhookId": "support-deploy"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/verify-deploy",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "haldir-webhook",
      "name": "Haldir Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        3400
      ],
      "webhookId": "support-verify-deploy"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/archive-query",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "historian-webhook",
      "name": "Historian Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        3700
      ],
      "webhookId": "support-archive-query"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/write-experience",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "scribe-webhook",
      "name": "Scribe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        4000
      ],
      "webhookId": "support-write-experience"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support/repo-query",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "librarian-webhook",
      "name": "Librarian Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        4300
      ],
      "webhookId": "support-repo-query"
    },
    {
      "parameters": {
        "jsCode": "// Treebeard Init - Patience & Rate Limit Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'treebeard',\n  tier: 'situational',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  trigger_reason: input.trigger_reason || 'rate_limited',\n  \n  // Rate limit context\n  rate_limit_info: input.rate_limit_info || {},\n  wait_duration_ms: input.wait_duration_ms || 60000,\n  pending_tasks: input.pending_tasks || [],\n  \n  // Current state\n  current_phase: input.current_phase || 'unknown',\n  completed_files: input.completed_files || 0,\n  total_files: input.total_files || 0,\n  \n  // What we can do while waiting\n  available_actions: [\n    'reorganize_queue_priorities',\n    'precompute_dependencies',\n    'review_completed_work',\n    'optimize_remaining_plan'\n  ]\n};\n\nreturn { json: context };"
      },
      "id": "treebeard-init",
      "name": "Treebeard Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aragorn Init - Leadership Decision Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'aragorn',\n  tier: 'situational',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  trigger_reason: input.trigger_reason || 'decision_pending',\n  \n  // Decision context\n  decision_type: input.decision_type || 'architecture_conflict',\n  options: input.options || [],\n  stakeholders: input.stakeholders || ['gimli', 'legolas'],\n  \n  // Conflict details\n  conflict_description: input.conflict_description || '',\n  affected_files: input.affected_files || [],\n  blocking_tasks: input.blocking_tasks || [],\n  \n  // Project context\n  project_goals: input.project_goals || [],\n  deadline_pressure: input.deadline_pressure || 'normal',\n  budget_remaining: input.budget_remaining || 0\n};\n\nreturn { json: context };"
      },
      "id": "aragorn-init",
      "name": "Aragorn Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Eowyn Init - Unconventional Solutions Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'eowyn',\n  tier: 'situational',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  trigger_reason: input.trigger_reason || 'impossible_block',\n  \n  // Block details\n  block_description: input.block_description || '',\n  conventional_attempts: input.conventional_attempts || [],\n  why_impossible: input.why_impossible || '',\n  \n  // Constraints\n  hard_constraints: input.hard_constraints || [],\n  soft_constraints: input.soft_constraints || [],\n  \n  // Available resources\n  available_tools: input.available_tools || [],\n  time_remaining: input.time_remaining || 0,\n  \n  // Creative freedom\n  allow_scope_reduction: input.allow_scope_reduction !== false,\n  allow_alternative_tech: input.allow_alternative_tech !== false,\n  allow_pivot: input.allow_pivot || false\n};\n\nreturn { json: context };"
      },
      "id": "eowyn-init",
      "name": "Eowyn Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gollum Init - Edge Case Testing Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'gollum',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Code to analyze\n  file_path: input.file_path || '',\n  file_content: input.file_content || '',\n  file_type: input.file_type || 'unknown',\n  \n  // Function/component context\n  function_name: input.function_name || '',\n  input_types: input.input_types || [],\n  expected_outputs: input.expected_outputs || [],\n  \n  // Edge case categories to explore\n  categories: [\n    'null_undefined_inputs',\n    'empty_collections',\n    'boundary_values',\n    'type_coercion',\n    'concurrent_access',\n    'unicode_special_chars',\n    'large_inputs',\n    'negative_numbers',\n    'date_edge_cases',\n    'network_failures'\n  ],\n  \n  // Existing tests to avoid duplication\n  existing_tests: input.existing_tests || []\n};\n\nreturn { json: context };"
      },
      "id": "gollum-init",
      "name": "Gollum Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pippin Init - Serendipity/Random Exploration Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'pippin',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  trigger_reason: input.trigger_reason || 'random_exploration',\n  \n  // Current context\n  current_file: input.current_file || '',\n  current_phase: input.current_phase || '',\n  project_type: input.project_type || '',\n  \n  // Exploration parameters\n  exploration_budget_tokens: input.exploration_budget_tokens || 1000,\n  exploration_areas: [\n    'alternative_implementations',\n    'performance_optimizations',\n    'ux_improvements',\n    'accessibility_features',\n    'easter_eggs',\n    'demo_enhancements',\n    'documentation_ideas',\n    'test_scenarios'\n  ],\n  \n  // Constraints\n  must_not_break: input.must_not_break || [],\n  time_limit_seconds: input.time_limit_seconds || 60\n};\n\nreturn { json: context };"
      },
      "id": "pippin-init",
      "name": "Pippin Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merry Init - Clone Support Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'merry',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Clone needing help\n  clone_id: input.clone_id || '',\n  clone_type: input.clone_type || 'backend', // backend or frontend\n  clone_agent: input.clone_agent || 'gimli',\n  \n  // Problem details\n  stuck_reason: input.stuck_reason || '',\n  stuck_duration_ms: input.stuck_duration_ms || 0,\n  last_output: input.last_output || '',\n  error_message: input.error_message || '',\n  \n  // Task context\n  current_task: input.current_task || {},\n  attempted_solutions: input.attempted_solutions || [],\n  \n  // Available support actions\n  support_actions: [\n    'provide_code_snippet',\n    'suggest_alternative_approach',\n    'break_down_task',\n    'fetch_additional_context',\n    'request_human_help'\n  ]\n};\n\nreturn { json: context };"
      },
      "id": "merry-init",
      "name": "Merry Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Quickbeam Init - Speculative Prefetch Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'quickbeam',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Upcoming agent call\n  next_agent: input.next_agent || '',\n  next_task: input.next_task || {},\n  \n  // Current state\n  completed_files: input.completed_files || [],\n  pending_files: input.pending_files || [],\n  architecture: input.architecture || {},\n  \n  // Prefetch targets\n  prefetch_candidates: [\n    'dependency_file_contents',\n    'related_documentation',\n    'similar_code_examples',\n    'test_fixtures',\n    'configuration_templates'\n  ],\n  \n  // Budget\n  prefetch_budget_tokens: input.prefetch_budget_tokens || 2000,\n  max_files_to_prefetch: input.max_files_to_prefetch || 5\n};\n\nreturn { json: context };"
      },
      "id": "quickbeam-init",
      "name": "Quickbeam Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Bilbo Init - User Preferences Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'bilbo',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // User interaction\n  user_id: input.user_id || '',\n  user_message: input.user_message || '',\n  interaction_type: input.interaction_type || 'feedback',\n  \n  // Current preferences\n  existing_preferences: input.existing_preferences || {\n    code_style: {},\n    ui_preferences: {},\n    communication_style: {},\n    priority_features: []\n  },\n  \n  // Preference categories\n  preference_categories: [\n    'code_formatting',\n    'naming_conventions',\n    'framework_preferences',\n    'ui_style',\n    'color_scheme',\n    'feature_priorities',\n    'communication_frequency'\n  ],\n  \n  // Context\n  project_type: input.project_type || '',\n  deadline: input.deadline || ''\n};\n\nreturn { json: context };"
      },
      "id": "bilbo-init",
      "name": "Bilbo Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        2200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Arwen Init - Test Plan Generator\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'arwen',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Architecture context\n  architecture: input.architecture || {},\n  file_tree: input.file_tree || [],\n  api_endpoints: input.api_endpoints || [],\n  components: input.components || [],\n  \n  // Testing requirements\n  test_types: [\n    'unit_tests',\n    'integration_tests',\n    'e2e_tests',\n    'api_tests',\n    'component_tests'\n  ],\n  \n  // Constraints\n  testing_framework: input.testing_framework || 'jest',\n  coverage_target: input.coverage_target || 80,\n  time_budget_minutes: input.time_budget_minutes || 30,\n  \n  // Priority areas\n  critical_paths: input.critical_paths || [],\n  high_risk_areas: input.high_risk_areas || []\n};\n\nreturn { json: context };"
      },
      "id": "arwen-init",
      "name": "Arwen Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Thorin Init - Test Writer\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'thorin',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Test plan from Arwen\n  test_plan: input.test_plan || {},\n  \n  // Current test to write\n  test_file_path: input.test_file_path || '',\n  target_file_path: input.target_file_path || '',\n  target_file_content: input.target_file_content || '',\n  \n  // Testing framework\n  framework: input.framework || 'jest',\n  assertion_library: input.assertion_library || 'expect',\n  \n  // Test specifics\n  functions_to_test: input.functions_to_test || [],\n  test_cases: input.test_cases || [],\n  mock_requirements: input.mock_requirements || [],\n  \n  // Style\n  test_style: input.test_style || 'describe_it',\n  include_edge_cases: input.include_edge_cases !== false\n};\n\nreturn { json: context };"
      },
      "id": "thorin-init",
      "name": "Thorin Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        2800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Eomer Init - Deployment Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'eomer',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Project info\n  project_name: input.project_name || '',\n  project_type: input.project_type || 'fullstack',\n  \n  // Deployment target\n  deployment_target: input.deployment_target || 'vercel',\n  available_targets: ['vercel', 'netlify', 'railway', 'render', 'fly.io', 'docker'],\n  \n  // Build info\n  build_command: input.build_command || 'npm run build',\n  output_directory: input.output_directory || 'dist',\n  \n  // Environment\n  environment_variables: input.environment_variables || [],\n  secrets_required: input.secrets_required || [],\n  \n  // Configuration files to generate\n  config_files: [\n    'vercel.json',\n    'netlify.toml',\n    'Dockerfile',\n    'docker-compose.yml',\n    '.env.example'\n  ]\n};\n\nreturn { json: context };"
      },
      "id": "eomer-init",
      "name": "Eomer Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        3100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Haldir Init - Deployment Verification Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'haldir',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Deployment info\n  deployment_url: input.deployment_url || '',\n  deployment_target: input.deployment_target || '',\n  deployment_id: input.deployment_id || '',\n  \n  // Verification checks\n  checks_to_run: [\n    'http_health_check',\n    'ssl_certificate',\n    'response_time',\n    'static_assets',\n    'api_endpoints',\n    'error_pages',\n    'mobile_responsive'\n  ],\n  \n  // Expected responses\n  expected_endpoints: input.expected_endpoints || [],\n  expected_status_codes: input.expected_status_codes || { '/': 200, '/api/health': 200 },\n  \n  // Thresholds\n  max_response_time_ms: input.max_response_time_ms || 3000,\n  required_uptime_percent: input.required_uptime_percent || 99\n};\n\nreturn { json: context };"
      },
      "id": "haldir-init",
      "name": "Haldir Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        3400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Historian Init - Archive Query Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'historian',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Query\n  query: input.query || '',\n  query_type: input.query_type || 'general', // general, code, decision, error\n  \n  // Archive context\n  archive_ids: input.archive_ids || [],\n  search_scope: input.search_scope || 'all', // all, recent, specific\n  \n  // Filters\n  filters: {\n    hackathon_type: input.hackathon_type || null,\n    date_range: input.date_range || null,\n    technologies: input.technologies || [],\n    outcome: input.outcome || null // success, partial, failed\n  },\n  \n  // Response preferences\n  include_code_examples: input.include_code_examples !== false,\n  include_lessons_learned: input.include_lessons_learned !== false,\n  max_examples: input.max_examples || 3\n};\n\nreturn { json: context };"
      },
      "id": "historian-init",
      "name": "Historian Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Scribe Init - Experience Writer Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'scribe',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Hackathon summary\n  hackathon_name: input.hackathon_name || '',\n  hackathon_theme: input.hackathon_theme || '',\n  duration_hours: input.duration_hours || 0,\n  \n  // Outcomes\n  final_product: input.final_product || {},\n  files_generated: input.files_generated || 0,\n  agents_used: input.agents_used || [],\n  \n  // Metrics\n  total_cost: input.total_cost || 0,\n  total_tokens: input.total_tokens || 0,\n  success_rate: input.success_rate || 0,\n  \n  // Key events\n  key_decisions: input.key_decisions || [],\n  challenges_faced: input.challenges_faced || [],\n  solutions_found: input.solutions_found || [],\n  \n  // Output format\n  output_format: input.output_format || 'markdown',\n  include_metrics: input.include_metrics !== false,\n  include_timeline: input.include_timeline !== false\n};\n\nreturn { json: context };"
      },
      "id": "scribe-init",
      "name": "Scribe Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Librarian Init - Repository Query Handler\nconst input = $input.first().json;\n\nconst context = {\n  agent: 'librarian',\n  tier: 'support',\n  hackathon_id: input.hackathon_id,\n  triggered_at: input.triggered_at || new Date().toISOString(),\n  \n  // Query\n  query: input.query || '',\n  query_type: input.query_type || 'structure', // structure, file, function, usage\n  \n  // Repository context\n  repo_path: input.repo_path || '',\n  file_tree: input.file_tree || [],\n  \n  // Search parameters\n  search_pattern: input.search_pattern || '',\n  file_types: input.file_types || [],\n  \n  // Response preferences\n  include_file_contents: input.include_file_contents || false,\n  include_dependencies: input.include_dependencies || true,\n  include_usage_examples: input.include_usage_examples || true,\n  max_depth: input.max_depth || 3\n};\n\nreturn { json: context };"
      },
      "id": "librarian-init",
      "name": "Librarian Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        4300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are TREEBEARD, the patient Ent of ILUVATAR. When the system is rate-limited or waiting, you help optimize the wait time by reorganizing priorities, precomputing what can be done, and keeping the project moving forward even when API calls are blocked.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"patience_assessment\\\": \\\"string - analysis of the wait situation\\\",\\n  \\\"productive_actions\\\": [\\\"array of actions to take during wait\\\"],\\n  \\\"queue_reordering\\\": [\\\"reordered task queue if applicable\\\"],\\n  \\\"precomputed_results\\\": {},\\n  \\\"estimated_resume_time\\\": \\\"ISO timestamp\\\",\\n  \\\"mood\\\": \\\"string - Ent-like patience quote\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Rate limit or wait situation: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-treebeard",
      "name": "Call Claude (Treebeard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are ARAGORN, the leader of ILUVATAR. When major architectural decisions or conflicts arise, you step in to make the final call. Consider all stakeholders, project goals, and time constraints.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"decision\\\": \\\"string - the chosen path forward\\\",\\n  \\\"reasoning\\\": \\\"string - why this decision\\\",\\n  \\\"tradeoffs_accepted\\\": [\\\"array of accepted tradeoffs\\\"],\\n  \\\"instructions_for_clones\\\": {},\\n  \\\"affected_files\\\": [\\\"files that need updating\\\"],\\n  \\\"confidence\\\": 0.0-1.0\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Decision needed: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-aragorn",
      "name": "Call Claude (Aragorn)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are EOWYN, the unconventional problem solver of ILUVATAR. When something seems impossible, you find creative alternatives that others wouldn't consider. Think outside the box.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"alternative_approach\\\": \\\"string - the unconventional solution\\\",\\n  \\\"why_it_works\\\": \\\"string - explanation\\\",\\n  \\\"constraints_reframed\\\": [\\\"how constraints were reinterpreted\\\"],\\n  \\\"implementation_steps\\\": [\\\"array of steps\\\"],\\n  \\\"risks\\\": [\\\"potential risks of this approach\\\"],\\n  \\\"scope_changes\\\": {}\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Impossible problem: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-eowyn",
      "name": "Call Claude (Eowyn)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are GOLLUM, the edge case finder of ILUVATAR. You obsessively find the weird inputs, boundary conditions, and unexpected scenarios that break code. Be thorough and devious.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"edge_cases\\\": [\\n    {\\n      \\\"name\\\": \\\"string\\\",\\n      \\\"input\\\": \\\"the edge case input\\\",\\n      \\\"expected_behavior\\\": \\\"what should happen\\\",\\n      \\\"potential_bug\\\": \\\"what might go wrong\\\",\\n      \\\"severity\\\": \\\"high|medium|low\\\"\\n    }\\n  ],\\n  \\\"test_code\\\": \\\"string - test code for edge cases\\\",\\n  \\\"precious_findings\\\": \\\"string - summary in Gollum voice\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Find edge cases: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-gollum",
      "name": "Call Claude (Gollum)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are PIPPIN, the serendipitous explorer of ILUVATAR. You randomly explore tangential ideas that might improve the project. Be curious but brief.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"discovery\\\": \\\"string - what you found\\\",\\n  \\\"relevance\\\": \\\"high|medium|low\\\",\\n  \\\"suggestion\\\": \\\"string - how to apply it\\\",\\n  \\\"implementation_effort\\\": \\\"trivial|small|medium\\\",\\n  \\\"foolish_optimism\\\": \\\"string - Pippin-like enthusiasm\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Explore around: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-pippin",
      "name": "Call Claude (Pippin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are MERRY, the clone supporter of ILUVATAR. When a clone (Gimli or Legolas) is stuck, you help them get unstuck with guidance, code snippets, or alternative approaches.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"diagnosis\\\": \\\"string - why the clone is stuck\\\",\\n  \\\"solution_type\\\": \\\"code_snippet|approach_change|task_breakdown|context_fetch\\\",\\n  \\\"solution\\\": {},\\n  \\\"confidence\\\": 0.0-1.0,\\n  \\\"encouragement\\\": \\\"string - supportive message for the clone\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Clone needs help: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-merry",
      "name": "Call Claude (Merry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are QUICKBEAM, the hasty Ent who pre-fetches context before agent calls. Predict what files and information the next agent will need.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"prefetch_files\\\": [\\\"array of file paths to load\\\"],\\n  \\\"prefetch_context\\\": {},\\n  \\\"priority_order\\\": [\\\"ordered list of what to fetch first\\\"],\\n  \\\"reasoning\\\": \\\"string - why these are needed\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Prefetch for: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-quickbeam",
      "name": "Call Claude (Quickbeam)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are BILBO, the preference keeper of ILUVATAR. You extract and remember user preferences from their feedback to personalize future outputs.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"extracted_preferences\\\": {},\\n  \\\"preference_updates\\\": {},\\n  \\\"applied_to\\\": [\\\"what these preferences affect\\\"],\\n  \\\"confidence\\\": 0.0-1.0,\\n  \\\"there_and_back\\\": \\\"string - Bilbo-like observation\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"User feedback: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-bilbo",
      "name": "Call Claude (Bilbo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        2200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"system\": \"You are ARWEN, the test planner of ILUVATAR. After architecture is approved, you create a comprehensive test plan covering unit, integration, and e2e tests.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"test_plan\\\": {\\n    \\\"unit_tests\\\": [{\\\"file\\\": \\\"string\\\", \\\"tests\\\": [\\\"array\\\"]}],\\n    \\\"integration_tests\\\": [{\\\"name\\\": \\\"string\\\", \\\"components\\\": [\\\"array\\\"]}],\\n    \\\"e2e_tests\\\": [{\\\"scenario\\\": \\\"string\\\", \\\"steps\\\": [\\\"array\\\"]}]\\n  },\\n  \\\"priority_order\\\": [\\\"ordered test priorities\\\"],\\n  \\\"coverage_estimate\\\": 0-100,\\n  \\\"testing_framework\\\": \\\"string\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create test plan: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-arwen",
      "name": "Call Claude (Arwen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        2500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"system\": \"You are THORIN, the test writer of ILUVATAR. You write actual test code based on Arwen's test plan. Write thorough, well-structured tests.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"test_file_path\\\": \\\"string\\\",\\n  \\\"test_code\\\": \\\"string - the complete test file\\\",\\n  \\\"mocks_required\\\": [\\\"array of mocks\\\"],\\n  \\\"setup_instructions\\\": \\\"string\\\",\\n  \\\"dwarvish_quality\\\": \\\"string - quality assessment\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write tests: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-thorin",
      "name": "Call Claude (Thorin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        2800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are EOMER, the deployment specialist of ILUVATAR. You create deployment configurations for various platforms.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"deployment_config\\\": {},\\n  \\\"config_files\\\": [{\\\"path\\\": \\\"string\\\", \\\"content\\\": \\\"string\\\"}],\\n  \\\"environment_variables\\\": [{\\\"name\\\": \\\"string\\\", \\\"value\\\": \\\"string\\\", \\\"secret\\\": true/false}],\\n  \\\"deployment_commands\\\": [\\\"array of commands\\\"],\\n  \\\"rohirric_confidence\\\": \\\"string - battle-ready assessment\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Deploy project: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-eomer",
      "name": "Call Claude (Eomer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        3100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are HALDIR, the deployment verifier of ILUVATAR. You check that deployments are working correctly.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"verification_results\\\": [{\\\"check\\\": \\\"string\\\", \\\"passed\\\": true/false, \\\"details\\\": \\\"string\\\"}],\\n  \\\"overall_status\\\": \\\"healthy|degraded|failed\\\",\\n  \\\"issues_found\\\": [\\\"array of issues\\\"],\\n  \\\"recommended_fixes\\\": [\\\"array of fixes\\\"],\\n  \\\"elvish_blessing\\\": \\\"string - guardian's verdict\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Verify deployment: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-haldir",
      "name": "Call Claude (Haldir)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        3400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are THE HISTORIAN, keeper of hackathon archives in ILUVATAR. You answer questions about past hackathons using archived data.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"answer\\\": \\\"string - comprehensive answer\\\",\\n  \\\"sources\\\": [{\\\"hackathon_id\\\": \\\"string\\\", \\\"relevant_data\\\": {}}],\\n  \\\"code_examples\\\": [\\\"relevant code from archives\\\"],\\n  \\\"lessons_learned\\\": [\\\"applicable lessons\\\"],\\n  \\\"historical_perspective\\\": \\\"string - wisdom from the ages\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Archive query: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-historian",
      "name": "Call Claude (Historian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        3700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"system\": \"You are THE SCRIBE, chronicler of hackathon experiences in ILUVATAR. After a hackathon ends, you write a comprehensive experience summary.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"experience_summary\\\": \\\"string - markdown formatted summary\\\",\\n  \\\"key_metrics\\\": {},\\n  \\\"timeline\\\": [{\\\"time\\\": \\\"string\\\", \\\"event\\\": \\\"string\\\"}],\\n  \\\"lessons_learned\\\": [\\\"array of lessons\\\"],\\n  \\\"recommendations\\\": [\\\"future improvements\\\"],\\n  \\\"chronicler_notes\\\": \\\"string - personal observations\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write experience: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-scribe",
      "name": "Call Claude (Scribe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        4000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are THE LIBRARIAN, repository navigator of ILUVATAR. You help understand and navigate codebases, explaining structure and finding specific code.\\n\\nRESPOND WITH JSON ONLY:\\n{\\n  \\\"answer\\\": \\\"string - answer to the query\\\",\\n  \\\"relevant_files\\\": [{\\\"path\\\": \\\"string\\\", \\\"purpose\\\": \\\"string\\\"}],\\n  \\\"code_locations\\\": [{\\\"file\\\": \\\"string\\\", \\\"line\\\": 0, \\\"snippet\\\": \\\"string\\\"}],\\n  \\\"structure_explanation\\\": \\\"string\\\",\\n  \\\"catalog_entry\\\": \\\"string - librarian's notes\\\"\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Repository query: {{ JSON.stringify($json) }}\"\n    }\n  ]\n}"
      },
      "id": "call-claude-librarian",
      "name": "Call Claude (Librarian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        4300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Treebeard Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  // Extract JSON from response\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'treebeard',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'treebeard',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-treebeard",
      "name": "Parse Treebeard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Aragorn Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'aragorn',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'aragorn',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-aragorn",
      "name": "Parse Aragorn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Eowyn Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'eowyn',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'eowyn',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-eowyn",
      "name": "Parse Eowyn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gollum Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'gollum',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'gollum',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-gollum",
      "name": "Parse Gollum",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Pippin Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'pippin',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'pippin',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-pippin",
      "name": "Parse Pippin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Merry Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'merry',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'merry',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-merry",
      "name": "Parse Merry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Quickbeam Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'quickbeam',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'quickbeam',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-quickbeam",
      "name": "Parse Quickbeam",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Bilbo Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'bilbo',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'bilbo',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-bilbo",
      "name": "Parse Bilbo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Arwen Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'arwen',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'arwen',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-arwen",
      "name": "Parse Arwen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Thorin Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'thorin',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'thorin',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-thorin",
      "name": "Parse Thorin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Eomer Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'eomer',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'eomer',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-eomer",
      "name": "Parse Eomer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        3100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Haldir Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'haldir',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'haldir',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-haldir",
      "name": "Parse Haldir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        3400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Historian Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'historian',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'historian',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-historian",
      "name": "Parse Historian",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Scribe Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'scribe',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'scribe',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-scribe",
      "name": "Parse Scribe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        4000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Librarian Output\nconst response = $input.first().json;\nlet content = response.content?.[0]?.text || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found');\n  \n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  return {\n    json: {\n      agent: 'librarian',\n      success: true,\n      output: parsed,\n      tokens_used: response.usage?.output_tokens || 0\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      agent: 'librarian',\n      success: false,\n      error: error.message,\n      raw_output: content\n    }\n  };\n}"
      },
      "id": "parse-librarian",
      "name": "Parse Librarian",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        4300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-treebeard",
      "name": "Respond Treebeard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-aragorn",
      "name": "Respond Aragorn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-eowyn",
      "name": "Respond Eowyn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-gollum",
      "name": "Respond Gollum",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        1000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-pippin",
      "name": "Respond Pippin",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        1300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-merry",
      "name": "Respond Merry",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        1600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-quickbeam",
      "name": "Respond Quickbeam",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        1900
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-bilbo",
      "name": "Respond Bilbo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        2200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-arwen",
      "name": "Respond Arwen",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        2500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-thorin",
      "name": "Respond Thorin",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        2800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-eomer",
      "name": "Respond Eomer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        3100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-haldir",
      "name": "Respond Haldir",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        3400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-historian",
      "name": "Respond Historian",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        3700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-scribe",
      "name": "Respond Scribe",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        4000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-librarian",
      "name": "Respond Librarian",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        4300
      ]
    }
  ],
  "connections": {
    "Treebeard Webhook": {
      "main": [
        [
          {
            "node": "Treebeard Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treebeard Init": {
      "main": [
        [
          {
            "node": "Call Claude (Treebeard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Treebeard)": {
      "main": [
        [
          {
            "node": "Parse Treebeard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Treebeard": {
      "main": [
        [
          {
            "node": "Respond Treebeard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aragorn Webhook": {
      "main": [
        [
          {
            "node": "Aragorn Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aragorn Init": {
      "main": [
        [
          {
            "node": "Call Claude (Aragorn)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Aragorn)": {
      "main": [
        [
          {
            "node": "Parse Aragorn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Aragorn": {
      "main": [
        [
          {
            "node": "Respond Aragorn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eowyn Webhook": {
      "main": [
        [
          {
            "node": "Eowyn Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eowyn Init": {
      "main": [
        [
          {
            "node": "Call Claude (Eowyn)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Eowyn)": {
      "main": [
        [
          {
            "node": "Parse Eowyn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Eowyn": {
      "main": [
        [
          {
            "node": "Respond Eowyn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gollum Webhook": {
      "main": [
        [
          {
            "node": "Gollum Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gollum Init": {
      "main": [
        [
          {
            "node": "Call Claude (Gollum)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Gollum)": {
      "main": [
        [
          {
            "node": "Parse Gollum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gollum": {
      "main": [
        [
          {
            "node": "Respond Gollum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pippin Webhook": {
      "main": [
        [
          {
            "node": "Pippin Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pippin Init": {
      "main": [
        [
          {
            "node": "Call Claude (Pippin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Pippin)": {
      "main": [
        [
          {
            "node": "Parse Pippin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pippin": {
      "main": [
        [
          {
            "node": "Respond Pippin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merry Webhook": {
      "main": [
        [
          {
            "node": "Merry Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merry Init": {
      "main": [
        [
          {
            "node": "Call Claude (Merry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Merry)": {
      "main": [
        [
          {
            "node": "Parse Merry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Merry": {
      "main": [
        [
          {
            "node": "Respond Merry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quickbeam Webhook": {
      "main": [
        [
          {
            "node": "Quickbeam Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quickbeam Init": {
      "main": [
        [
          {
            "node": "Call Claude (Quickbeam)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Quickbeam)": {
      "main": [
        [
          {
            "node": "Parse Quickbeam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quickbeam": {
      "main": [
        [
          {
            "node": "Respond Quickbeam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bilbo Webhook": {
      "main": [
        [
          {
            "node": "Bilbo Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bilbo Init": {
      "main": [
        [
          {
            "node": "Call Claude (Bilbo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Bilbo)": {
      "main": [
        [
          {
            "node": "Parse Bilbo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bilbo": {
      "main": [
        [
          {
            "node": "Respond Bilbo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arwen Webhook": {
      "main": [
        [
          {
            "node": "Arwen Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arwen Init": {
      "main": [
        [
          {
            "node": "Call Claude (Arwen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Arwen)": {
      "main": [
        [
          {
            "node": "Parse Arwen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Arwen": {
      "main": [
        [
          {
            "node": "Respond Arwen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thorin Webhook": {
      "main": [
        [
          {
            "node": "Thorin Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thorin Init": {
      "main": [
        [
          {
            "node": "Call Claude (Thorin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Thorin)": {
      "main": [
        [
          {
            "node": "Parse Thorin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Thorin": {
      "main": [
        [
          {
            "node": "Respond Thorin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eomer Webhook": {
      "main": [
        [
          {
            "node": "Eomer Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eomer Init": {
      "main": [
        [
          {
            "node": "Call Claude (Eomer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Eomer)": {
      "main": [
        [
          {
            "node": "Parse Eomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Eomer": {
      "main": [
        [
          {
            "node": "Respond Eomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haldir Webhook": {
      "main": [
        [
          {
            "node": "Haldir Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haldir Init": {
      "main": [
        [
          {
            "node": "Call Claude (Haldir)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Haldir)": {
      "main": [
        [
          {
            "node": "Parse Haldir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Haldir": {
      "main": [
        [
          {
            "node": "Respond Haldir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historian Webhook": {
      "main": [
        [
          {
            "node": "Historian Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historian Init": {
      "main": [
        [
          {
            "node": "Call Claude (Historian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Historian)": {
      "main": [
        [
          {
            "node": "Parse Historian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Historian": {
      "main": [
        [
          {
            "node": "Respond Historian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scribe Webhook": {
      "main": [
        [
          {
            "node": "Scribe Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scribe Init": {
      "main": [
        [
          {
            "node": "Call Claude (Scribe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Scribe)": {
      "main": [
        [
          {
            "node": "Parse Scribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scribe": {
      "main": [
        [
          {
            "node": "Respond Scribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Librarian Webhook": {
      "main": [
        [
          {
            "node": "Librarian Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Librarian Init": {
      "main": [
        [
          {
            "node": "Call Claude (Librarian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Librarian)": {
      "main": [
        [
          {
            "node": "Parse Librarian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Librarian": {
      "main": [
        [
          {
            "node": "Respond Librarian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "iluvatar-support-agents"
  },
  "tags": []
}